@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  font-size: 16px;
}

body {
  position: relative;
  color: rgb(var(--foreground-rgb));
  padding-bottom: 120px;
  min-height: 100vh;
}

main {
  max-width: 1280px;
  padding: 1rem;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(var(--foreground-rgb));
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.875rem;
}

h6 {
  font-size: 0.75rem;
}

a {
  color: rgb(var(--foreground-rgb));
}

a:hover {
  color: rgb(var(--foreground-rgb));
}

a:active {
  color: rgb(var(--foreground-rgb));
}

.page-heading {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
}
